[submodule "ffmpeg"]
	path = ffmpeg
	url = https://gitea.1f0.de/LAV/FFmpeg.git
[submodule "libbluray"]
	path = libbluray
	url = https://gitea.1f0.de/LAV/libbluray.git
[submodule "libaribcaption"]
	path = libaribcaption
	url = https://github.com/xqq/libaribcaption
